﻿@model TestBeehive.Models.Measurement

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-info pl-3">Add Measurement</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Weight"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Current"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Current" class="form-control" />
                        <span asp-validation-for="Current" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="HiveID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HiveID" class="form-control" />
                        <span asp-validation-for="HiveID" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*Keep this empty*@
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />}

}
