﻿@model IEnumerable<TestBeehive.Models.Measurement>

<div class="container p-3">
    <div class="row" pt-4>
        <div class="col-6">
            <h2 class="text-primary">Measurement List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Measurement" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Measurement
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th> Measurement</th>
                    <th> Date and Time</th>
                    <th> Weight</th>
                    <th>Current</th>
                    <th>HiveID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="50%">@obj.ID</td>
                    <td class="text-center">@obj.DT</td>
                    <td class="text-center">@obj.Weight</td>
                    <td class="text-center">@obj.Current</td>
                    <td class="text-center">@obj.HiveID</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Measurement exists.</p>
    }

</div>
